<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Job Matching App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header style="text-align: center; margin: 2rem 0;">
    {% block header %}
    <img src="{{ url_for('static', path='/img/logo_laiers.png') }}"
         alt="Laiers.ai Logo"
         style="max-width: 250px;" />
    {% endblock %}
</header>

    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    
    {% block extra_scripts %}{% endblock %}
</body>
</html> 